Repository HoneyLink-Project/HoneyLink, changes with the owners that CODEOWNERS names for each.
All owners: @honeylink-architects, @honeylink-docs-team, @honeylink-specs-team, @honeylink-project-managers, @honeylink-core-team, @honeylink-security-team, @honeylink-crypto-experts, @honeylink-session-team, @honeylink-policy-team, @honeylink-qos-team, @honeylink-transport-team, @honeylink-network-experts, @honeylink-performance-team, @honeylink-observability-team, @honeylink-ops-team, @honeylink-adapter-team, @honeylink-sdk-team, @honeylink-ui-team, @honeylink-ux-team, @honeylink-design-team, @honeylink-i18n-team, @honeylink-devops-team, @honeylink-sre-team, @honeylink-dev-experience-team, @honeylink-compliance-team, @honeylink-qa-team, @honeylink-test-automation-team, @honeylink-release-managers, @honeylink-api-team, @honeylink-cto

CODEOWNERS:

# HoneyLinkâ„¢ Code Owners
# 
# This file defines ownership and review responsibilities for different parts of the codebase.
# Each module has designated owners who are automatically requested for review on PRs.
#
# Format: <file-pattern> @username1 @username2
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# ========== Global Owners ==========
# These owners are the default for everything in the repository
* @honeylink-architects

# ========== Documentation ==========
/docs/**                        @honeylink-docs-team
/spec/**                        @honeylink-specs-team @honeylink-architects
/README.md                      @honeylink-docs-team
/CONTRIBUTING.md                @honeylink-docs-team
/TODO.md                        @honeylink-project-managers

# ========== Rust Core Modules ==========

# Core types and traits (critical - requires 2 approvals)
/crates/core/**                 @honeylink-core-team @honeylink-architects

# Crypto & Trust Anchor (critical - requires 2 approvals)
/crates/crypto/**               @honeylink-security-team @honeylink-crypto-experts

# Session Orchestrator
/crates/session-orchestrator/** @honeylink-session-team @honeylink-architects

# Policy & Profile Engine
/crates/policy-engine/**        @honeylink-policy-team @honeylink-qos-team

# Transport Abstraction
/crates/transport/**            @honeylink-transport-team @honeylink-network-experts

# QoS Scheduler
/crates/qos-scheduler/**        @honeylink-qos-team @honeylink-performance-team

# Telemetry & Insights
/crates/telemetry/**            @honeylink-observability-team @honeylink-ops-team

# Physical Adapter Layer
/crates/physical-adapter/**     @honeylink-adapter-team @honeylink-network-experts

# Experience Layer (SDK/UI binding)
/crates/experience/**           @honeylink-sdk-team @honeylink-ui-team

# ========== UI & Frontend ==========
/ui/**                          @honeylink-ui-team @honeylink-ux-team

# React components
/ui/src/components/**           @honeylink-ui-team

# Design system
/ui/src/styles/**               @honeylink-design-team @honeylink-ux-team
/ui/tailwind.config.js          @honeylink-design-team

# Internationalization
/ui/src/locales/**              @honeylink-i18n-team @honeylink-ui-team

# ========== Infrastructure & DevOps ==========
/infrastructure/**              @honeylink-devops-team @honeylink-sre-team
/.github/workflows/**           @honeylink-devops-team
/Cargo.toml                     @honeylink-core-team @honeylink-architects
/rust-toolchain.toml            @honeylink-core-team

# ========== Configuration & Tooling ==========
/.vscode/**                     @honeylink-dev-experience-team
/.editorconfig                  @honeylink-dev-experience-team
/scripts/**                     @honeylink-devops-team

# ESLint & Prettier configs
/ui/eslint.config.js            @honeylink-ui-team
/ui/.prettierrc.json            @honeylink-ui-team
/ui/tsconfig.json               @honeylink-ui-team

# ========== Security & Compliance ==========
/spec/security/**               @honeylink-security-team @honeylink-compliance-team
/spec/security/encryption.md    @honeylink-crypto-experts @honeylink-security-team
/spec/security/key-management.md @honeylink-crypto-experts @honeylink-security-team

# ========== Testing ==========
/spec/testing/**                @honeylink-qa-team @honeylink-test-automation-team

# ========== Deployment ==========
/spec/deployment/**             @honeylink-devops-team @honeylink-sre-team @honeylink-release-managers

# ========== Module-Specific Specs ==========
/spec/modules/session-orchestrator.md     @honeylink-session-team
/spec/modules/policy-profile-engine.md    @honeylink-policy-team
/spec/modules/transport-abstraction.md    @honeylink-transport-team
/spec/modules/crypto-trust-anchor.md      @honeylink-crypto-experts @honeylink-security-team
/spec/modules/qos-scheduler.md            @honeylink-qos-team
/spec/modules/telemetry-insights.md       @honeylink-observability-team
/spec/modules/physical-adapter.md         @honeylink-adapter-team
/spec/modules/experience-layer.md         @honeylink-sdk-team @honeylink-ui-team

# ========== API Specifications ==========
/spec/api/**                    @honeylink-api-team @honeylink-architects

# ========== Notes & Governance ==========
/spec/notes/decision-log.md     @honeylink-architects @honeylink-project-managers
/spec/notes/governance.md       @honeylink-project-managers @honeylink-architects

# ========== Architecture ==========
/spec/architecture/**           @honeylink-architects
/spec/architecture/overview.md  @honeylink-architects @honeylink-cto

# ========== Performance & Benchmarking ==========
/spec/performance/**            @honeylink-performance-team @honeylink-sre-team

# ========== UI/UX Specifications ==========
/spec/ui/**                     @honeylink-ux-team @honeylink-design-team @honeylink-ui-team

Add UI visual design specification
  spec/ui/visual-design.md
Owners: @honeylink-ux-team, @honeylink-design-team, @honeylink-ui-team

Add UI wireframes specification
  spec/ui/wireframes.md
Owners: @honeylink-ux-team, @honeylink-design-team, @honeylink-ui-team

Add English specification README
  spec-en/README.md
Owners: @honeylink-architects

Add English requirements specification
  spec-en/requirements.md
Owners: @honeylink-architects

Add English project roadmap
  spec-en/roadmap.md
Owners: @honeylink-architects

Add roadmap CSV import data
  spec-en/roadmap-import.csv
Owners: @honeylink-architects

Add English roadmap implementation guide
  spec-en/roadmap-implementation.md
Owners: @honeylink-architects

Remove duplicate final report from Japanese spec folder
  spec/final-report.md
Owners: @honeylink-specs-team, @honeylink-architects

Add English control plane API specification
  spec-en/api/control-plane.md
Owners: @honeylink-architects

Add English architecture overview
  spec-en/architecture/overview.md
Owners: @honeylink-architects

Add English dataflow architecture
  spec-en/architecture/dataflow.md
Owners: @honeylink-architects

Add English dependencies architecture
  spec-en/architecture/dependencies.md
Owners: @honeylink-architects

Add English interfaces architecture
  spec-en/architecture/interfaces.md
Owners: @honeylink-architects

Add English technology stack specification
  spec-en/architecture/tech-stack.md
Owners: @honeylink-architects

Add English CI/CD deployment specification
  spec-en/deployment/ci-cd.md
Owners: @honeylink-architects

Add English infrastructure deployment specification
  spec-en/deployment/infrastructure.md
Owners: @honeylink-architects

Add English rollback deployment specification
  spec-en/deployment/rollback.md
Owners: @honeylink-architects

Add English crypto trust anchor module specification
  spec-en/modules/crypto-trust-anchor.md
Owners: @honeylink-architects

Add English experience layer module specification
  spec-en/modules/experience-layer.md
Owners: @honeylink-architects

Add English physical adapter module specification
  spec-en/modules/physical-adapter.md
Owners: @honeylink-architects

Add English policy profile engine module specification
  spec-en/modules/policy-profile-engine.md
Owners: @honeylink-architects

Add English QoS scheduler module specification
  spec-en/modules/qos-scheduler.md
Owners: @honeylink-architects

Add English session orchestrator module specification
  spec-en/modules/session-orchestrator.md
Owners: @honeylink-architects

Add English telemetry insights module specification
  spec-en/modules/telemetry-insights.md
Owners: @honeylink-architects

Add English transport abstraction module specification
  spec-en/modules/transport-abstraction.md
Owners: @honeylink-architects

Add English project attendance tracking system
  spec-en/notes/attendance-system.md
Owners: @honeylink-architects

Add English critical path analysis documentation
  spec-en/notes/critical-path-analysis.md
Owners: @honeylink-architects

Add English architectural decision log
  spec-en/notes/decision-log.md
Owners: @honeylink-architects

Add English project governance documentation
  spec-en/notes/governance.md
Owners: @honeylink-architects

Add English meeting notes documentation
  spec-en/notes/meeting-notes.md
Owners: @honeylink-architects

Add English project phase completion criteria
  spec-en/notes/phase-criteria.md
Owners: @honeylink-architects

Add English review completion checklist
  spec-en/notes/review-completion-checklist.md
Owners: @honeylink-architects

Add English project schedule dashboard
  spec-en/notes/schedule-dashboard.md
Owners: @honeylink-architects

Add English performance specifications
  spec-en/performance/benchmark.md
  spec-en/performance/scalability.md
Owners: @honeylink-architects

Add English authentication specification
  spec-en/security/auth.md
Owners: @honeylink-architects

Add English encryption specification
  spec-en/security/encryption.md
Owners: @honeylink-architects

Add English security specifications
  spec-en/security/key-management.md
  spec-en/security/vulnerability.md
Owners: @honeylink-architects

Add English documentation templates
  spec-en/templates/document-quality-dod-review.md
  spec-en/templates/module-template.md
  spec-en/templates/test-template.md
  spec-en/templates/ui-template.md
Owners: @honeylink-architects

Add English testing specifications
  spec-en/testing/e2e-tests.md
  spec-en/testing/integration-tests.md
  spec-en/testing/metrics.md
  spec-en/testing/unit-tests.md
Owners: @honeylink-architects

Add English UI specifications
  spec-en/ui/accessibility.md
  spec-en/ui/animations.md
  spec-en/ui/overview.md
  spec-en/ui/visual-design.md
  spec-en/ui/wireframes.md
Owners: @honeylink-architects
