Repository HoneyLink-Project/HoneyLink, changes with the owners that CODEOWNERS names for each.
All owners: @honeylink-architects, @honeylink-docs-team, @honeylink-specs-team, @honeylink-project-managers, @honeylink-core-team, @honeylink-security-team, @honeylink-crypto-experts, @honeylink-session-team, @honeylink-policy-team, @honeylink-qos-team, @honeylink-transport-team, @honeylink-network-experts, @honeylink-performance-team, @honeylink-observability-team, @honeylink-ops-team, @honeylink-adapter-team, @honeylink-sdk-team, @honeylink-ui-team, @honeylink-ux-team, @honeylink-design-team, @honeylink-i18n-team, @honeylink-devops-team, @honeylink-sre-team, @honeylink-dev-experience-team, @honeylink-compliance-team, @honeylink-qa-team, @honeylink-test-automation-team, @honeylink-release-managers, @honeylink-api-team, @honeylink-cto

feat: Task 8.4.1 Security Audit & Compliance (Phase 8)
  TODO.md
  docs/SECURITY_AUDIT.md
Owners: @honeylink-project-managers, @honeylink-docs-team

feat: Task 8.5.1 Beta Release Preparation (Phase 8 Complete)
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  CHANGELOG.md
  Cargo.toml
  LICENSE-APACHE
  LICENSE-MIT
  TODO.md
  crates/config/Cargo.toml
  crates/core/Cargo.toml
  crates/crypto/Cargo.toml
  crates/discovery/Cargo.toml
  crates/experience/Cargo.toml
  crates/physical-adapter/Cargo.toml
  crates/policy-engine/Cargo.toml
  crates/qos-scheduler/Cargo.toml
  crates/session-orchestrator/Cargo.toml
  crates/telemetry/Cargo.toml
  crates/transport/Cargo.toml
  examples/Cargo.toml
Owners: @honeylink-devops-team, @honeylink-architects, @honeylink-core-team, @honeylink-project-managers, @honeylink-security-team, @honeylink-crypto-experts, @honeylink-sdk-team, @honeylink-ui-team, @honeylink-adapter-team, @honeylink-network-experts, @honeylink-policy-team, @honeylink-qos-team, @honeylink-performance-team, @honeylink-session-team, @honeylink-observability-team, @honeylink-ops-team, @honeylink-transport-team

test: Verify beta release build and tests on WSL Linux
  TODO.md
Owners: @honeylink-project-managers

feat: Task 9.1.1 Certificate Pinning Implementation (Phase 9)
  TODO.md
  crates/config/src/lib.rs
  crates/transport/Cargo.toml
  crates/transport/src/cert_pinning.rs
  crates/transport/src/lib.rs
  crates/transport/src/quic.rs
  honeylink.toml.example
Owners: @honeylink-project-managers, @honeylink-architects, @honeylink-transport-team, @honeylink-network-experts

feat: Task 9.2.1 OS Keychain Integration (Phase 9)
  Cargo.toml
  TODO.md
  crates/keychain/Cargo.toml
  crates/keychain/src/lib.rs
Owners: @honeylink-core-team, @honeylink-architects, @honeylink-project-managers

CODEOWNERS:

# HoneyLinkâ„¢ Code Owners
# 
# This file defines ownership and review responsibilities for different parts of the codebase.
# Each module has designated owners who are automatically requested for review on PRs.
#
# Format: <file-pattern> @username1 @username2
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# ========== Global Owners ==========
# These owners are the default for everything in the repository
* @honeylink-architects

# ========== Documentation ==========
/docs/**                        @honeylink-docs-team
/spec/**                        @honeylink-specs-team @honeylink-architects
/README.md                      @honeylink-docs-team
/CONTRIBUTING.md                @honeylink-docs-team
/TODO.md                        @honeylink-project-managers

# ========== Rust Core Modules ==========

# Core types and traits (critical - requires 2 approvals)
/crates/core/**                 @honeylink-core-team @honeylink-architects

# Crypto & Trust Anchor (critical - requires 2 approvals)
/crates/crypto/**               @honeylink-security-team @honeylink-crypto-experts

# Session Orchestrator
/crates/session-orchestrator/** @honeylink-session-team @honeylink-architects

# Policy & Profile Engine
/crates/policy-engine/**        @honeylink-policy-team @honeylink-qos-team

# Transport Abstraction
/crates/transport/**            @honeylink-transport-team @honeylink-network-experts

# QoS Scheduler
/crates/qos-scheduler/**        @honeylink-qos-team @honeylink-performance-team

# Telemetry & Insights
/crates/telemetry/**            @honeylink-observability-team @honeylink-ops-team

# Physical Adapter Layer
/crates/physical-adapter/**     @honeylink-adapter-team @honeylink-network-experts

# Experience Layer (SDK/UI binding)
/crates/experience/**           @honeylink-sdk-team @honeylink-ui-team

# ========== UI & Frontend ==========
/ui/**                          @honeylink-ui-team @honeylink-ux-team

# React components
/ui/src/components/**           @honeylink-ui-team

# Design system
/ui/src/styles/**               @honeylink-design-team @honeylink-ux-team
/ui/tailwind.config.js          @honeylink-design-team

# Internationalization
/ui/src/locales/**              @honeylink-i18n-team @honeylink-ui-team

# ========== Infrastructure & DevOps ==========
/infrastructure/**              @honeylink-devops-team @honeylink-sre-team
/.github/workflows/**           @honeylink-devops-team
/Cargo.toml                     @honeylink-core-team @honeylink-architects
/rust-toolchain.toml            @honeylink-core-team

# ========== Configuration & Tooling ==========
/.vscode/**                     @honeylink-dev-experience-team
/.editorconfig                  @honeylink-dev-experience-team
/scripts/**                     @honeylink-devops-team

# ESLint & Prettier configs
/ui/eslint.config.js            @honeylink-ui-team
/ui/.prettierrc.json            @honeylink-ui-team
/ui/tsconfig.json               @honeylink-ui-team

# ========== Security & Compliance ==========
/spec/security/**               @honeylink-security-team @honeylink-compliance-team
/spec/security/encryption.md    @honeylink-crypto-experts @honeylink-security-team
/spec/security/key-management.md @honeylink-crypto-experts @honeylink-security-team

# ========== Testing ==========
/spec/testing/**                @honeylink-qa-team @honeylink-test-automation-team

# ========== Deployment ==========
/spec/deployment/**             @honeylink-devops-team @honeylink-sre-team @honeylink-release-managers

# ========== Module-Specific Specs ==========
/spec/modules/session-orchestrator.md     @honeylink-session-team
/spec/modules/policy-profile-engine.md    @honeylink-policy-team
/spec/modules/transport-abstraction.md    @honeylink-transport-team
/spec/modules/crypto-trust-anchor.md      @honeylink-crypto-experts @honeylink-security-team
/spec/modules/qos-scheduler.md            @honeylink-qos-team
/spec/modules/telemetry-insights.md       @honeylink-observability-team
/spec/modules/physical-adapter.md         @honeylink-adapter-team
/spec/modules/experience-layer.md         @honeylink-sdk-team @honeylink-ui-team

# ========== API Specifications ==========
/spec/api/**                    @honeylink-api-team @honeylink-architects

# ========== Notes & Governance ==========
/spec/notes/decision-log.md     @honeylink-architects @honeylink-project-managers
/spec/notes/governance.md       @honeylink-project-managers @honeylink-architects

# ========== Architecture ==========
/spec/architecture/**           @honeylink-architects
/spec/architecture/overview.md  @honeylink-architects @honeylink-cto

# ========== Performance & Benchmarking ==========
/spec/performance/**            @honeylink-performance-team @honeylink-sre-team

# ========== UI/UX Specifications ==========
/spec/ui/**                     @honeylink-ux-team @honeylink-design-team @honeylink-ui-team
