Repository HoneyLink-Project/HoneyLink, changes with the owners that CODEOWNERS names for each.
All owners: @honeylink-architects, @honeylink-docs-team, @honeylink-specs-team, @honeylink-project-managers, @honeylink-core-team, @honeylink-security-team, @honeylink-crypto-experts, @honeylink-session-team, @honeylink-policy-team, @honeylink-qos-team, @honeylink-transport-team, @honeylink-network-experts, @honeylink-performance-team, @honeylink-observability-team, @honeylink-ops-team, @honeylink-adapter-team, @honeylink-sdk-team, @honeylink-ui-team, @honeylink-ux-team, @honeylink-design-team, @honeylink-i18n-team, @honeylink-devops-team, @honeylink-sre-team, @honeylink-dev-experience-team, @honeylink-compliance-team, @honeylink-qa-team, @honeylink-test-automation-team, @honeylink-release-managers, @honeylink-api-team, @honeylink-cto

Add policy engine error types
  crates/policy-engine/src/error.rs
Owners: @honeylink-policy-team, @honeylink-qos-team

Add policy management implementation
  crates/policy-engine/src/policy.rs
Owners: @honeylink-policy-team, @honeylink-qos-team

Add policy profile management
  crates/policy-engine/src/profile.rs
Owners: @honeylink-policy-team, @honeylink-qos-team

Add policy preset configurations
  crates/policy-engine/src/presets.rs
Owners: @honeylink-policy-team, @honeylink-qos-team

Add policy event bus implementation
  crates/policy-engine/src/event_bus.rs
Owners: @honeylink-policy-team, @honeylink-qos-team

Add session orchestrator crate Cargo manifest
  crates/session-orchestrator/Cargo.toml
Owners: @honeylink-session-team, @honeylink-architects

Add session orchestrator library entry point
  crates/session-orchestrator/src/lib.rs
Owners: @honeylink-session-team, @honeylink-architects

Add session orchestrator error types
  crates/session-orchestrator/src/error.rs
Owners: @honeylink-session-team, @honeylink-architects

Add session state machine implementation
  crates/session-orchestrator/src/state_machine.rs
Owners: @honeylink-session-team, @honeylink-architects

Add session management implementation
  crates/session-orchestrator/src/session.rs
Owners: @honeylink-session-team, @honeylink-architects

Add session persistence layer
  crates/session-orchestrator/src/persistence.rs
Owners: @honeylink-session-team, @honeylink-architects

Add session metrics tracking
  crates/session-orchestrator/src/metrics.rs
Owners: @honeylink-session-team, @honeylink-architects

Add session versioning system
  crates/session-orchestrator/src/versioning.rs
Owners: @honeylink-session-team, @honeylink-architects

Add idempotency management system
  crates/session-orchestrator/src/idempotency.rs
Owners: @honeylink-session-team, @honeylink-architects

Add session event bus implementation
  crates/session-orchestrator/src/event_bus.rs
Owners: @honeylink-session-team, @honeylink-architects

Add transport crate Cargo manifest
  crates/transport/Cargo.toml
Owners: @honeylink-transport-team, @honeylink-network-experts

Add transport library entry point
  crates/transport/src/lib.rs
Owners: @honeylink-transport-team, @honeylink-network-experts

Add Weighted Fair Queuing implementation
  crates/transport/src/wfq.rs
Owners: @honeylink-transport-team, @honeylink-network-experts

Add Forward Error Correction implementation
  crates/transport/src/fec.rs
Owners: @honeylink-transport-team, @honeylink-network-experts

Add QoS scheduler crate Cargo manifest
  crates/qos-scheduler/Cargo.toml
Owners: @honeylink-qos-team, @honeylink-performance-team

Add QoS scheduler library entry point
  crates/qos-scheduler/src/lib.rs
Owners: @honeylink-qos-team, @honeylink-performance-team

Add QoS scheduler implementation
  crates/qos-scheduler/src/scheduler.rs
Owners: @honeylink-qos-team, @honeylink-performance-team

Add telemetry crate Cargo manifest
  crates/telemetry/Cargo.toml
Owners: @honeylink-observability-team, @honeylink-ops-team

Add telemetry library entry point
  crates/telemetry/src/lib.rs
Owners: @honeylink-observability-team, @honeylink-ops-team

Add telemetry collector implementation
  crates/telemetry/src/collector.rs
Owners: @honeylink-observability-team, @honeylink-ops-team

Add physical adapter crate Cargo manifest
  crates/physical-adapter/Cargo.toml
Owners: @honeylink-adapter-team, @honeylink-network-experts

Add physical adapter library entry point
  crates/physical-adapter/src/lib.rs
Owners: @honeylink-adapter-team, @honeylink-network-experts

Add physical adapter trait definitions
  crates/physical-adapter/src/traits.rs
Owners: @honeylink-adapter-team, @honeylink-network-experts

Add physical adapter implementation
  crates/physical-adapter/src/adapter.rs
Owners: @honeylink-adapter-team, @honeylink-network-experts

Add experience layer crate Cargo manifest
  crates/experience/Cargo.toml
Owners: @honeylink-sdk-team, @honeylink-ui-team

Add experience layer library entry point
  crates/experience/src/lib.rs
Owners: @honeylink-sdk-team, @honeylink-ui-team

Add experience layer SDK implementation
  crates/experience/src/sdk.rs
Owners: @honeylink-sdk-team, @honeylink-ui-team

Add WASM bindings for web integration
  crates/experience/src/wasm.rs
Owners: @honeylink-sdk-team, @honeylink-ui-team

Add UI package configuration
  ui/package.json
Owners: @honeylink-ui-team, @honeylink-ux-team

Add TypeScript configuration for UI
  ui/tsconfig.json
Owners: @honeylink-ui-team

Add TypeScript configuration for Node tooling
  ui/tsconfig.node.json
Owners: @honeylink-ui-team, @honeylink-ux-team

Add Vite build configuration
  ui/vite.config.ts
Owners: @honeylink-ui-team, @honeylink-ux-team

Add TailwindCSS configuration
  ui/tailwind.config.js
Owners: @honeylink-design-team

Add PostCSS configuration
  ui/postcss.config.js
Owners: @honeylink-ui-team, @honeylink-ux-team

Add ESLint configuration
  ui/eslint.config.js
Owners: @honeylink-ui-team

CODEOWNERS:

# HoneyLinkâ„¢ Code Owners
# 
# This file defines ownership and review responsibilities for different parts of the codebase.
# Each module has designated owners who are automatically requested for review on PRs.
#
# Format: <file-pattern> @username1 @username2
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# ========== Global Owners ==========
# These owners are the default for everything in the repository
* @honeylink-architects

# ========== Documentation ==========
/docs/**                        @honeylink-docs-team
/spec/**                        @honeylink-specs-team @honeylink-architects
/README.md                      @honeylink-docs-team
/CONTRIBUTING.md                @honeylink-docs-team
/TODO.md                        @honeylink-project-managers

# ========== Rust Core Modules ==========

# Core types and traits (critical - requires 2 approvals)
/crates/core/**                 @honeylink-core-team @honeylink-architects

# Crypto & Trust Anchor (critical - requires 2 approvals)
/crates/crypto/**               @honeylink-security-team @honeylink-crypto-experts

# Session Orchestrator
/crates/session-orchestrator/** @honeylink-session-team @honeylink-architects

# Policy & Profile Engine
/crates/policy-engine/**        @honeylink-policy-team @honeylink-qos-team

# Transport Abstraction
/crates/transport/**            @honeylink-transport-team @honeylink-network-experts

# QoS Scheduler
/crates/qos-scheduler/**        @honeylink-qos-team @honeylink-performance-team

# Telemetry & Insights
/crates/telemetry/**            @honeylink-observability-team @honeylink-ops-team

# Physical Adapter Layer
/crates/physical-adapter/**     @honeylink-adapter-team @honeylink-network-experts

# Experience Layer (SDK/UI binding)
/crates/experience/**           @honeylink-sdk-team @honeylink-ui-team

# ========== UI & Frontend ==========
/ui/**                          @honeylink-ui-team @honeylink-ux-team

# React components
/ui/src/components/**           @honeylink-ui-team

# Design system
/ui/src/styles/**               @honeylink-design-team @honeylink-ux-team
/ui/tailwind.config.js          @honeylink-design-team

# Internationalization
/ui/src/locales/**              @honeylink-i18n-team @honeylink-ui-team

# ========== Infrastructure & DevOps ==========
/infrastructure/**              @honeylink-devops-team @honeylink-sre-team
/.github/workflows/**           @honeylink-devops-team
/Cargo.toml                     @honeylink-core-team @honeylink-architects
/rust-toolchain.toml            @honeylink-core-team

# ========== Configuration & Tooling ==========
/.vscode/**                     @honeylink-dev-experience-team
/.editorconfig                  @honeylink-dev-experience-team
/scripts/**                     @honeylink-devops-team

# ESLint & Prettier configs
/ui/eslint.config.js            @honeylink-ui-team
/ui/.prettierrc.json            @honeylink-ui-team
/ui/tsconfig.json               @honeylink-ui-team

# ========== Security & Compliance ==========
/spec/security/**               @honeylink-security-team @honeylink-compliance-team
/spec/security/encryption.md    @honeylink-crypto-experts @honeylink-security-team
/spec/security/key-management.md @honeylink-crypto-experts @honeylink-security-team

# ========== Testing ==========
/spec/testing/**                @honeylink-qa-team @honeylink-test-automation-team

# ========== Deployment ==========
/spec/deployment/**             @honeylink-devops-team @honeylink-sre-team @honeylink-release-managers

# ========== Module-Specific Specs ==========
/spec/modules/session-orchestrator.md     @honeylink-session-team
/spec/modules/policy-profile-engine.md    @honeylink-policy-team
/spec/modules/transport-abstraction.md    @honeylink-transport-team
/spec/modules/crypto-trust-anchor.md      @honeylink-crypto-experts @honeylink-security-team
/spec/modules/qos-scheduler.md            @honeylink-qos-team
/spec/modules/telemetry-insights.md       @honeylink-observability-team
/spec/modules/physical-adapter.md         @honeylink-adapter-team
/spec/modules/experience-layer.md         @honeylink-sdk-team @honeylink-ui-team

# ========== API Specifications ==========
/spec/api/**                    @honeylink-api-team @honeylink-architects

# ========== Notes & Governance ==========
/spec/notes/decision-log.md     @honeylink-architects @honeylink-project-managers
/spec/notes/governance.md       @honeylink-project-managers @honeylink-architects

# ========== Architecture ==========
/spec/architecture/**           @honeylink-architects
/spec/architecture/overview.md  @honeylink-architects @honeylink-cto

# ========== Performance & Benchmarking ==========
/spec/performance/**            @honeylink-performance-team @honeylink-sre-team

# ========== UI/UX Specifications ==========
/spec/ui/**                     @honeylink-ux-team @honeylink-design-team @honeylink-ui-team
