Repository HoneyLink-Project/HoneyLink, changes with the owners that CODEOWNERS names for each.
All owners: @honeylink-architects, @honeylink-docs-team, @honeylink-specs-team, @honeylink-project-managers, @honeylink-core-team, @honeylink-security-team, @honeylink-crypto-experts, @honeylink-session-team, @honeylink-policy-team, @honeylink-qos-team, @honeylink-transport-team, @honeylink-network-experts, @honeylink-performance-team, @honeylink-observability-team, @honeylink-ops-team, @honeylink-adapter-team, @honeylink-sdk-team, @honeylink-ui-team, @honeylink-ux-team, @honeylink-design-team, @honeylink-i18n-team, @honeylink-devops-team, @honeylink-sre-team, @honeylink-dev-experience-team, @honeylink-compliance-team, @honeylink-qa-team, @honeylink-test-automation-team, @honeylink-release-managers, @honeylink-api-team, @honeylink-cto

chore: remove obsolete TASK_4.3_COMPLETE_REPORT.md
  TASK_4.3_COMPLETE_REPORT.md
Owners: @honeylink-architects

feat(db): setup TimescaleDB development environment
  README.md
  docs/DATABASE_SETUP.md
  infrastructure/db-init/01-init-timescaledb.sh
  infrastructure/docker-compose.db.yml
Owners: @honeylink-docs-team, @honeylink-devops-team, @honeylink-sre-team

docs(todo): mark TimescaleDB setup as completed (infrastructure)
  TODO.md
Owners: @honeylink-project-managers

refactor: rewrite TODO.md for P2P implementation roadmap
  TODO.md
  backend/Cargo.toml
  backend/migrations/20250101000001_initial_schema.sql
  backend/migrations/20250102000001_sessions_schema.sql
  backend/src/config.rs
  backend/src/db/audit.rs
  backend/src/db/devices.rs
  backend/src/db/mod.rs
  backend/src/db/pairing.rs
  backend/src/db/sessions.rs
  backend/src/error.rs
  backend/src/main.rs
  backend/src/middleware/auth.rs
  backend/src/middleware/cors.rs
  backend/src/middleware/mod.rs
  backend/src/middleware/mtls.rs
  backend/src/middleware/rate_limit.rs
  backend/src/middleware/tracing.rs
  backend/src/routes/audit.rs
  backend/src/routes/devices.rs
  backend/src/routes/mod.rs
  backend/src/routes/policies.rs
  backend/src/routes/sessions.rs
  backend/src/types.rs
  backend/src/validation.rs
  backend/src/vault.rs
  backend/tests/integration_tests.rs
  docs/DATABASE_SETUP.md
  docs/VAULT_SETUP.md
  infrastructure/db-init/01-init-timescaledb.sh
  infrastructure/docker-compose.db.yml
Owners: @honeylink-project-managers, @honeylink-architects, @honeylink-docs-team, @honeylink-devops-team, @honeylink-sre-team

refactor: delete spec/api/control-plane.md (server-centric design)
  .env.example
  Cargo.toml
  README.md
  TODO-old-server.md
  TODO.md
  spec/README-broken.md
  spec/README.md
  spec/api/control-plane-old-server.md
  spec/architecture/overview.md
  spec/modules/experience-layer.md
  spec/notes/phase-criteria.md
  spec/requirements-old-server.md
  spec/requirements.md
  spec/security/key-management.md
  spec/templates/document-quality-dod-review.md
Owners: @honeylink-architects, @honeylink-core-team, @honeylink-docs-team, @honeylink-project-managers, @honeylink-specs-team, @honeylink-api-team, @honeylink-cto, @honeylink-sdk-team, @honeylink-ui-team, @honeylink-crypto-experts, @honeylink-security-team

refactor: rewrite spec/deployment/infrastructure.md for P2P client distribution
  spec/deployment/infrastructure-old-server.md
  spec/deployment/infrastructure.md
Owners: @honeylink-devops-team, @honeylink-sre-team, @honeylink-release-managers

refactor: rewrite 8 module specs for P2P local-first design
  spec/modules/crypto-trust-anchor-old-server.md
  spec/modules/experience-layer-old-server.md
  spec/modules/physical-adapter-old-server.md
  spec/modules/policy-profile-engine-old-server.md
  spec/modules/qos-scheduler-old-server.md
  spec/modules/session-orchestrator-old-server.md
  spec/modules/telemetry-insights-old-server.md
  spec/modules/transport-abstraction-old-server.md
Owners: @honeylink-specs-team, @honeylink-architects

refactor: rewrite spec/security/auth.md for P2P TOFU trust model
  spec/security/auth-old-server.md
  spec/security/auth.md
Owners: @honeylink-security-team, @honeylink-compliance-team

docs: add P2P design documentation to crates/
  crates/README.md
  crates/physical-adapter/README.md
  crates/telemetry/README.md
Owners: @honeylink-architects, @honeylink-adapter-team, @honeylink-network-experts, @honeylink-observability-team, @honeylink-ops-team

refactor: remove all server-centric references from remaining spec files (12 files updated)
  spec/deployment/infrastructure.md
  spec/modules/crypto-trust-anchor.md
  spec/modules/experience-layer.md
  spec/modules/physical-adapter.md
  spec/modules/policy-profile-engine.md
  spec/modules/qos-scheduler.md
  spec/modules/session-orchestrator.md
  spec/modules/telemetry-insights.md
  spec/modules/transport-abstraction.md
  spec/notes/critical-path-analysis.md
  spec/notes/governance.md
  spec/notes/phase-criteria.md
  spec/notes/schedule-dashboard.md
  spec/roadmap-implementation.md
  spec/security/encryption.md
  spec/security/key-management-old-server.md
  spec/security/key-management.md
  spec/security/vulnerability.md
Owners: @honeylink-devops-team, @honeylink-sre-team, @honeylink-release-managers, @honeylink-crypto-experts, @honeylink-security-team, @honeylink-sdk-team, @honeylink-ui-team, @honeylink-adapter-team, @honeylink-policy-team, @honeylink-qos-team, @honeylink-session-team, @honeylink-observability-team, @honeylink-transport-team, @honeylink-specs-team, @honeylink-architects, @honeylink-project-managers, @honeylink-compliance-team

refactor: remove final 5G Modem HTTP Server and mTLS references
  spec/modules/physical-adapter.md
  spec/modules/telemetry-insights.md
Owners: @honeylink-adapter-team, @honeylink-observability-team

feat: implement Phase 1.1 mDNS Discovery (Task 1.1.1 完了)
  Cargo.toml
  TODO.md
  crates/discovery/Cargo.toml
  crates/discovery/README.md
  crates/discovery/examples/simple_discovery.rs
  crates/discovery/src/error.rs
  crates/discovery/src/lib.rs
  crates/discovery/src/mdns.rs
  crates/discovery/src/types.rs
Owners: @honeylink-core-team, @honeylink-architects, @honeylink-project-managers

fix: mDNS discovery compilation errors
  crates/discovery/src/lib.rs
  crates/discovery/src/mdns.rs
Owners: @honeylink-architects

feat: implement Task 1.1.2 - Network monitoring and auto re-announcement
  TODO.md
  crates/discovery/Cargo.toml
  crates/discovery/README.md
  crates/discovery/src/lib.rs
  crates/discovery/src/mdns.rs
  crates/discovery/src/network_monitor.rs
  spec/notes/critical-path-analysis.md
  spec/notes/schedule-dashboard.md
Owners: @honeylink-project-managers, @honeylink-architects, @honeylink-specs-team

feat: add BLE discovery skeleton (Phase 1.2 foundation)
  TODO.md
  crates/discovery/README.md
  crates/discovery/src/ble.rs
  crates/discovery/src/lib.rs
Owners: @honeylink-project-managers, @honeylink-architects

feat: implement Task 1.2.1 - GATT protocol for BLE discovery (Phase 1 COMPLETE)
  TODO.md
  crates/discovery/Cargo.toml
  crates/discovery/README.md
  crates/discovery/src/gatt.rs
  crates/discovery/src/lib.rs
  crates/discovery/src/mdns.rs
  crates/discovery/src/network_monitor.rs
  crates/discovery/src/types.rs
Owners: @honeylink-project-managers, @honeylink-architects

feat: implement unified Discovery Manager (Task 1.3.1 COMPLETE)
  TODO.md
  crates/discovery/Cargo.toml
  crates/discovery/README.md
  crates/discovery/src/ble.rs
  crates/discovery/src/lib.rs
  crates/discovery/src/manager.rs
  crates/discovery/src/mdns.rs
  crates/discovery/src/protocol.rs
  crates/discovery/src/types.rs
Owners: @honeylink-project-managers, @honeylink-architects

docs: update TODO.md to reflect Phase 2 & 3 completion
  TODO.md
Owners: @honeylink-project-managers

fix: resolve TypeScript type errors and update Rust toolchain
  crates/discovery/src/manager.rs
  rust-toolchain.toml
  ui/src/pages/MetricsHubPage.tsx
  ui/src/pages/StreamDashboardPage.tsx
  ui/tsconfig.json
Owners: @honeylink-architects, @honeylink-core-team, @honeylink-ui-team, @honeylink-ux-team

feat: add Phase 4 Transport protocol trait abstraction (Task 4.1.1)
  TODO.md
  crates/transport/src/lib.rs
  crates/transport/src/protocol.rs
Owners: @honeylink-project-managers, @honeylink-transport-team, @honeylink-network-experts

fix: WSL Linux環境でビルド可能に変更 & テスト修正
  crates/transport/src/fec.rs
  crates/transport/src/retry.rs
  crates/transport/src/wfq.rs
  crates/transport/tests/proptest.proptest-regressions
  crates/transport/tests/proptest.rs
  rust-toolchain.toml
Owners: @honeylink-transport-team, @honeylink-network-experts, @honeylink-core-team

docs: Task 4.1.1完了をTODO.mdに記録
  TODO.md
Owners: @honeylink-project-managers

feat: add QUIC transport implementation (Task 4.2.1)
  crates/transport/Cargo.toml
  crates/transport/src/lib.rs
  crates/transport/src/quic.rs
Owners: @honeylink-transport-team, @honeylink-network-experts

docs: mark Task 4.2.1 (QUIC Backend) as complete
  TODO.md
Owners: @honeylink-project-managers

Task 4.3.1: WebRTC stub implementation
  crates/transport/Cargo.toml
  crates/transport/src/lib.rs
  crates/transport/src/webrtc.rs
Owners: @honeylink-transport-team, @honeylink-network-experts

Update TODO.md: Task 4.3.1 complete (WebRTC stub), Phase 4 progress 67%
  TODO.md
Owners: @honeylink-project-managers

feat: Task 4.4.1 Transport Manager implementation
  crates/transport/Cargo.toml
  crates/transport/src/lib.rs
  crates/transport/src/manager.rs
Owners: @honeylink-transport-team, @honeylink-network-experts

docs: Update TODO.md - Phase 4 complete (100%)
  TODO.md
Owners: @honeylink-project-managers

feat: Task 5.1.1 QoS Scheduler integration with TransportManager
  TODO.md
  crates/qos-scheduler/Cargo.toml
  crates/qos-scheduler/src/scheduler.rs
  crates/transport/Cargo.toml
  crates/transport/src/manager.rs
  crates/transport/src/protocol.rs
  crates/transport/src/quic.rs
  crates/transport/src/webrtc.rs
Owners: @honeylink-project-managers, @honeylink-qos-team, @honeylink-performance-team, @honeylink-transport-team, @honeylink-network-experts

feat: Task 6.1.1 Discovery+Transport integration tests
  TODO.md
  crates/transport/src/manager.rs
  crates/transport/tests/integration_discovery_transport.rs
  tests/integration_discovery_transport.rs
Owners: @honeylink-project-managers, @honeylink-transport-team, @honeylink-network-experts, @honeylink-architects

feat: Task 6.2.1 Transport+QoS integration tests
  TODO.md
  crates/transport/tests/integration_discovery_transport.rs
  crates/transport/tests/integration_qos_transport.rs
  tests/integration_discovery_transport.rs
Owners: @honeylink-project-managers, @honeylink-transport-team, @honeylink-network-experts, @honeylink-architects

feat: Task 6.3.1 Full-Stack E2E integration tests + Phase 6 COMPLETE
  TODO.md
  crates/transport/tests/integration_full_e2e.rs
Owners: @honeylink-project-managers, @honeylink-transport-team, @honeylink-network-experts

plan: Define Phase 7 Performance and Polish tasks
  TODO.md
Owners: @honeylink-project-managers

feat: Task 7.1.1 Criterion.rs Performance Benchmarking
  TODO.md
  crates/transport/Cargo.toml
  crates/transport/benches/transport_benchmarks.rs
Owners: @honeylink-project-managers, @honeylink-transport-team, @honeylink-network-experts

docs: Task 7.2.1 Core Documentation Polish
  Cargo.toml
  README.md
  TODO.md
  crates/crypto/src/aead.rs
  crates/crypto/src/key_management.rs
  crates/discovery/src/manager.rs
  crates/discovery/src/mdns.rs
  crates/transport/benches/transport_benchmarks.rs
  crates/transport/src/manager.rs
  crates/transport/tests/integration_full_e2e.rs
  crates/transport/tests/integration_qos_transport.rs
  examples/Cargo.toml
  examples/file_transfer.rs
  examples/simple_chat.rs
Owners: @honeylink-core-team, @honeylink-architects, @honeylink-docs-team, @honeylink-project-managers, @honeylink-security-team, @honeylink-crypto-experts, @honeylink-transport-team, @honeylink-network-experts

feat: Task 7.3.1 Production Readiness (partial)
  crates/transport/src/quic.rs
  docs/PRODUCTION_READINESS.md
Owners: @honeylink-transport-team, @honeylink-network-experts, @honeylink-docs-team

docs: Phase 7 Complete (Performance & Polish)
  TODO.md
Owners: @honeylink-project-managers

feat: Task 8.1.1 tracing Integration (Phase 8)
  Cargo.toml
  TODO.md
  crates/crypto/tests/proptest.proptest-regressions
  crates/discovery/Cargo.toml
  crates/telemetry/src/transport_telemetry_impl.rs
  crates/transport/Cargo.toml
  crates/transport/src/lib.rs
  crates/transport/src/logging.rs
  examples/Cargo.toml
  examples/file_transfer.rs
  examples/simple_chat.rs
Owners: @honeylink-core-team, @honeylink-architects, @honeylink-project-managers, @honeylink-security-team, @honeylink-crypto-experts, @honeylink-observability-team, @honeylink-ops-team, @honeylink-transport-team, @honeylink-network-experts

feat: Task 8.2.1 TOML Configuration System (Phase 8)
  Cargo.toml
  TODO.md
  crates/config/Cargo.toml
  crates/config/src/lib.rs
  honeylink.toml.example
Owners: @honeylink-core-team, @honeylink-architects, @honeylink-project-managers

feat: Task 8.3.1 GitHub Actions CI/CD Pipeline (Phase 8)
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  TODO.md
Owners: @honeylink-devops-team, @honeylink-project-managers

CODEOWNERS:

# HoneyLinkâ„¢ Code Owners
# 
# This file defines ownership and review responsibilities for different parts of the codebase.
# Each module has designated owners who are automatically requested for review on PRs.
#
# Format: <file-pattern> @username1 @username2
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# ========== Global Owners ==========
# These owners are the default for everything in the repository
* @honeylink-architects

# ========== Documentation ==========
/docs/**                        @honeylink-docs-team
/spec/**                        @honeylink-specs-team @honeylink-architects
/README.md                      @honeylink-docs-team
/CONTRIBUTING.md                @honeylink-docs-team
/TODO.md                        @honeylink-project-managers

# ========== Rust Core Modules ==========

# Core types and traits (critical - requires 2 approvals)
/crates/core/**                 @honeylink-core-team @honeylink-architects

# Crypto & Trust Anchor (critical - requires 2 approvals)
/crates/crypto/**               @honeylink-security-team @honeylink-crypto-experts

# Session Orchestrator
/crates/session-orchestrator/** @honeylink-session-team @honeylink-architects

# Policy & Profile Engine
/crates/policy-engine/**        @honeylink-policy-team @honeylink-qos-team

# Transport Abstraction
/crates/transport/**            @honeylink-transport-team @honeylink-network-experts

# QoS Scheduler
/crates/qos-scheduler/**        @honeylink-qos-team @honeylink-performance-team

# Telemetry & Insights
/crates/telemetry/**            @honeylink-observability-team @honeylink-ops-team

# Physical Adapter Layer
/crates/physical-adapter/**     @honeylink-adapter-team @honeylink-network-experts

# Experience Layer (SDK/UI binding)
/crates/experience/**           @honeylink-sdk-team @honeylink-ui-team

# ========== UI & Frontend ==========
/ui/**                          @honeylink-ui-team @honeylink-ux-team

# React components
/ui/src/components/**           @honeylink-ui-team

# Design system
/ui/src/styles/**               @honeylink-design-team @honeylink-ux-team
/ui/tailwind.config.js          @honeylink-design-team

# Internationalization
/ui/src/locales/**              @honeylink-i18n-team @honeylink-ui-team

# ========== Infrastructure & DevOps ==========
/infrastructure/**              @honeylink-devops-team @honeylink-sre-team
/.github/workflows/**           @honeylink-devops-team
/Cargo.toml                     @honeylink-core-team @honeylink-architects
/rust-toolchain.toml            @honeylink-core-team

# ========== Configuration & Tooling ==========
/.vscode/**                     @honeylink-dev-experience-team
/.editorconfig                  @honeylink-dev-experience-team
/scripts/**                     @honeylink-devops-team

# ESLint & Prettier configs
/ui/eslint.config.js            @honeylink-ui-team
/ui/.prettierrc.json            @honeylink-ui-team
/ui/tsconfig.json               @honeylink-ui-team

# ========== Security & Compliance ==========
/spec/security/**               @honeylink-security-team @honeylink-compliance-team
/spec/security/encryption.md    @honeylink-crypto-experts @honeylink-security-team
/spec/security/key-management.md @honeylink-crypto-experts @honeylink-security-team

# ========== Testing ==========
/spec/testing/**                @honeylink-qa-team @honeylink-test-automation-team

# ========== Deployment ==========
/spec/deployment/**             @honeylink-devops-team @honeylink-sre-team @honeylink-release-managers

# ========== Module-Specific Specs ==========
/spec/modules/session-orchestrator.md     @honeylink-session-team
/spec/modules/policy-profile-engine.md    @honeylink-policy-team
/spec/modules/transport-abstraction.md    @honeylink-transport-team
/spec/modules/crypto-trust-anchor.md      @honeylink-crypto-experts @honeylink-security-team
/spec/modules/qos-scheduler.md            @honeylink-qos-team
/spec/modules/telemetry-insights.md       @honeylink-observability-team
/spec/modules/physical-adapter.md         @honeylink-adapter-team
/spec/modules/experience-layer.md         @honeylink-sdk-team @honeylink-ui-team

# ========== API Specifications ==========
/spec/api/**                    @honeylink-api-team @honeylink-architects

# ========== Notes & Governance ==========
/spec/notes/decision-log.md     @honeylink-architects @honeylink-project-managers
/spec/notes/governance.md       @honeylink-project-managers @honeylink-architects

# ========== Architecture ==========
/spec/architecture/**           @honeylink-architects
/spec/architecture/overview.md  @honeylink-architects @honeylink-cto

# ========== Performance & Benchmarking ==========
/spec/performance/**            @honeylink-performance-team @honeylink-sre-team

# ========== UI/UX Specifications ==========
/spec/ui/**                     @honeylink-ux-team @honeylink-design-team @honeylink-ui-team
