Repository HoneyLink-Project/HoneyLink, changes with the owners that CODEOWNERS names for each.
All owners: @honeylink-architects, @honeylink-docs-team, @honeylink-specs-team, @honeylink-project-managers, @honeylink-core-team, @honeylink-security-team, @honeylink-crypto-experts, @honeylink-session-team, @honeylink-policy-team, @honeylink-qos-team, @honeylink-transport-team, @honeylink-network-experts, @honeylink-performance-team, @honeylink-observability-team, @honeylink-ops-team, @honeylink-adapter-team, @honeylink-sdk-team, @honeylink-ui-team, @honeylink-ux-team, @honeylink-design-team, @honeylink-i18n-team, @honeylink-devops-team, @honeylink-sre-team, @honeylink-dev-experience-team, @honeylink-compliance-team, @honeylink-qa-team, @honeylink-test-automation-team, @honeylink-release-managers, @honeylink-api-team, @honeylink-cto

CODEOWNERS:

# HoneyLinkâ„¢ Code Owners
# 
# This file defines ownership and review responsibilities for different parts of the codebase.
# Each module has designated owners who are automatically requested for review on PRs.
#
# Format: <file-pattern> @username1 @username2
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# ========== Global Owners ==========
# These owners are the default for everything in the repository
* @honeylink-architects

# ========== Documentation ==========
/docs/**                        @honeylink-docs-team
/spec/**                        @honeylink-specs-team @honeylink-architects
/README.md                      @honeylink-docs-team
/CONTRIBUTING.md                @honeylink-docs-team
/TODO.md                        @honeylink-project-managers

# ========== Rust Core Modules ==========

# Core types and traits (critical - requires 2 approvals)
/crates/core/**                 @honeylink-core-team @honeylink-architects

# Crypto & Trust Anchor (critical - requires 2 approvals)
/crates/crypto/**               @honeylink-security-team @honeylink-crypto-experts

# Session Orchestrator
/crates/session-orchestrator/** @honeylink-session-team @honeylink-architects

# Policy & Profile Engine
/crates/policy-engine/**        @honeylink-policy-team @honeylink-qos-team

# Transport Abstraction
/crates/transport/**            @honeylink-transport-team @honeylink-network-experts

# QoS Scheduler
/crates/qos-scheduler/**        @honeylink-qos-team @honeylink-performance-team

# Telemetry & Insights
/crates/telemetry/**            @honeylink-observability-team @honeylink-ops-team

# Physical Adapter Layer
/crates/physical-adapter/**     @honeylink-adapter-team @honeylink-network-experts

# Experience Layer (SDK/UI binding)
/crates/experience/**           @honeylink-sdk-team @honeylink-ui-team

# ========== UI & Frontend ==========
/ui/**                          @honeylink-ui-team @honeylink-ux-team

# React components
/ui/src/components/**           @honeylink-ui-team

# Design system
/ui/src/styles/**               @honeylink-design-team @honeylink-ux-team
/ui/tailwind.config.js          @honeylink-design-team

# Internationalization
/ui/src/locales/**              @honeylink-i18n-team @honeylink-ui-team

# ========== Infrastructure & DevOps ==========
/infrastructure/**              @honeylink-devops-team @honeylink-sre-team
/.github/workflows/**           @honeylink-devops-team
/Cargo.toml                     @honeylink-core-team @honeylink-architects
/rust-toolchain.toml            @honeylink-core-team

# ========== Configuration & Tooling ==========
/.vscode/**                     @honeylink-dev-experience-team
/.editorconfig                  @honeylink-dev-experience-team
/scripts/**                     @honeylink-devops-team

# ESLint & Prettier configs
/ui/eslint.config.js            @honeylink-ui-team
/ui/.prettierrc.json            @honeylink-ui-team
/ui/tsconfig.json               @honeylink-ui-team

# ========== Security & Compliance ==========
/spec/security/**               @honeylink-security-team @honeylink-compliance-team
/spec/security/encryption.md    @honeylink-crypto-experts @honeylink-security-team
/spec/security/key-management.md @honeylink-crypto-experts @honeylink-security-team

# ========== Testing ==========
/spec/testing/**                @honeylink-qa-team @honeylink-test-automation-team

# ========== Deployment ==========
/spec/deployment/**             @honeylink-devops-team @honeylink-sre-team @honeylink-release-managers

# ========== Module-Specific Specs ==========
/spec/modules/session-orchestrator.md     @honeylink-session-team
/spec/modules/policy-profile-engine.md    @honeylink-policy-team
/spec/modules/transport-abstraction.md    @honeylink-transport-team
/spec/modules/crypto-trust-anchor.md      @honeylink-crypto-experts @honeylink-security-team
/spec/modules/qos-scheduler.md            @honeylink-qos-team
/spec/modules/telemetry-insights.md       @honeylink-observability-team
/spec/modules/physical-adapter.md         @honeylink-adapter-team
/spec/modules/experience-layer.md         @honeylink-sdk-team @honeylink-ui-team

# ========== API Specifications ==========
/spec/api/**                    @honeylink-api-team @honeylink-architects

# ========== Notes & Governance ==========
/spec/notes/decision-log.md     @honeylink-architects @honeylink-project-managers
/spec/notes/governance.md       @honeylink-project-managers @honeylink-architects

# ========== Architecture ==========
/spec/architecture/**           @honeylink-architects
/spec/architecture/overview.md  @honeylink-architects @honeylink-cto

# ========== Performance & Benchmarking ==========
/spec/performance/**            @honeylink-performance-team @honeylink-sre-team

# ========== UI/UX Specifications ==========
/spec/ui/**                     @honeylink-ux-team @honeylink-design-team @honeylink-ui-team

docs: add TODO list
  TODO.md
Owners: @honeylink-project-managers

ci: add Rust CI workflow
  .github/workflows/rust-ci.yml
Owners: @honeylink-devops-team

ci: add UI CI workflow
  .github/workflows/ui-ci.yml
Owners: @honeylink-devops-team

docs: add Rust setup guide
  docs/RUST_SETUP.md
Owners: @honeylink-docs-team

docs: add Node.js setup guide
  docs/NODE_SETUP.md
Owners: @honeylink-docs-team

docs: add WSL setup guide
  docs/WSL_SETUP.md
Owners: @honeylink-docs-team

docs: add WSL quickstart guide
  docs/WSL_QUICKSTART.md
Owners: @honeylink-docs-team

docs: add WSL notes and troubleshooting
  docs/WSL_NOTES.md
Owners: @honeylink-docs-team

scripts: add WSL setup automation script
  scripts/setup-wsl.sh
Owners: @honeylink-devops-team

scripts: add native dependencies audit script
  scripts/audit-native-deps.js
Owners: @honeylink-devops-team

docs(spec): add specification README
  spec/README.md
Owners: @honeylink-specs-team, @honeylink-architects

docs(spec): add requirements specification
  spec/requirements.md
Owners: @honeylink-specs-team, @honeylink-architects

docs(spec): add project roadmap
  spec/roadmap.md
Owners: @honeylink-specs-team, @honeylink-architects

docs(spec): add roadmap implementation details
  spec/roadmap-implementation.md
Owners: @honeylink-specs-team, @honeylink-architects

docs(spec): add roadmap import data
  spec/roadmap-import.csv
Owners: @honeylink-specs-team, @honeylink-architects

docs(spec): add final report
  spec/final-report.md
Owners: @honeylink-specs-team, @honeylink-architects

docs(spec): add architecture overview
  spec/architecture/overview.md
Owners: @honeylink-architects, @honeylink-cto

docs(spec): add dataflow architecture
  spec/architecture/dataflow.md
Owners: @honeylink-architects

docs(spec): add interface specifications
  spec/architecture/interfaces.md
Owners: @honeylink-architects

docs(spec): add dependency specifications
  spec/architecture/dependencies.md
Owners: @honeylink-architects

docs(spec): add tech stack documentation
  spec/architecture/tech-stack.md
Owners: @honeylink-architects

docs(spec): add control plane API specification
  spec/api/control-plane.md
Owners: @honeylink-api-team, @honeylink-architects

docs(spec): add session orchestrator module spec
  spec/modules/session-orchestrator.md
Owners: @honeylink-session-team

docs(spec): add transport abstraction module spec
  spec/modules/transport-abstraction.md
Owners: @honeylink-transport-team

Add core crate Cargo manifest
  crates/core/Cargo.toml
Owners: @honeylink-core-team, @honeylink-architects

Add core library entry point
  crates/core/src/lib.rs
Owners: @honeylink-core-team, @honeylink-architects

Add core type definitions
  crates/core/src/types.rs
Owners: @honeylink-core-team, @honeylink-architects

Add core error handling types
  crates/core/src/error.rs
Owners: @honeylink-core-team, @honeylink-architects

Add core trait definitions
  crates/core/src/traits.rs
Owners: @honeylink-core-team, @honeylink-architects

Add core event system
  crates/core/src/events.rs
Owners: @honeylink-core-team, @honeylink-architects

Add crypto crate Cargo manifest
  crates/crypto/Cargo.toml
Owners: @honeylink-security-team, @honeylink-crypto-experts

Add crypto library entry point
  crates/crypto/src/lib.rs
Owners: @honeylink-security-team, @honeylink-crypto-experts

Add cryptographic key management module
  crates/crypto/src/key_management.rs
Owners: @honeylink-security-team, @honeylink-crypto-experts

Add key derivation module
  crates/crypto/src/key_derivation.rs
Owners: @honeylink-security-team, @honeylink-crypto-experts

Add key rotation module
  crates/crypto/src/rotation.rs
Owners: @honeylink-security-team, @honeylink-crypto-experts

Add digital signing module
  crates/crypto/src/signing.rs
Owners: @honeylink-security-team, @honeylink-crypto-experts

Add key generation CLI utility
  crates/crypto/src/bin/keygen.rs
Owners: @honeylink-security-team, @honeylink-crypto-experts

Add policy engine crate Cargo manifest
  crates/policy-engine/Cargo.toml
Owners: @honeylink-policy-team, @honeylink-qos-team

Add policy engine library entry point
  crates/policy-engine/src/lib.rs
Owners: @honeylink-policy-team, @honeylink-qos-team

Add policy engine type definitions
  crates/policy-engine/src/types.rs
Owners: @honeylink-policy-team, @honeylink-qos-team
