Repository HoneyLink-Project/HoneyLink, changes with the owners that CODEOWNERS names for each.
All owners: @honeylink-architects, @honeylink-docs-team, @honeylink-specs-team, @honeylink-project-managers, @honeylink-core-team, @honeylink-security-team, @honeylink-crypto-experts, @honeylink-session-team, @honeylink-policy-team, @honeylink-qos-team, @honeylink-transport-team, @honeylink-network-experts, @honeylink-performance-team, @honeylink-observability-team, @honeylink-ops-team, @honeylink-adapter-team, @honeylink-sdk-team, @honeylink-ui-team, @honeylink-ux-team, @honeylink-design-team, @honeylink-i18n-team, @honeylink-devops-team, @honeylink-sre-team, @honeylink-dev-experience-team, @honeylink-compliance-team, @honeylink-qa-team, @honeylink-test-automation-team, @honeylink-release-managers, @honeylink-api-team, @honeylink-cto

CODEOWNERS:

# HoneyLinkâ„¢ Code Owners
# 
# This file defines ownership and review responsibilities for different parts of the codebase.
# Each module has designated owners who are automatically requested for review on PRs.
#
# Format: <file-pattern> @username1 @username2
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# ========== Global Owners ==========
# These owners are the default for everything in the repository
* @honeylink-architects

# ========== Documentation ==========
/docs/**                        @honeylink-docs-team
/spec/**                        @honeylink-specs-team @honeylink-architects
/README.md                      @honeylink-docs-team
/CONTRIBUTING.md                @honeylink-docs-team
/TODO.md                        @honeylink-project-managers

# ========== Rust Core Modules ==========

# Core types and traits (critical - requires 2 approvals)
/crates/core/**                 @honeylink-core-team @honeylink-architects

# Crypto & Trust Anchor (critical - requires 2 approvals)
/crates/crypto/**               @honeylink-security-team @honeylink-crypto-experts

# Session Orchestrator
/crates/session-orchestrator/** @honeylink-session-team @honeylink-architects

# Policy & Profile Engine
/crates/policy-engine/**        @honeylink-policy-team @honeylink-qos-team

# Transport Abstraction
/crates/transport/**            @honeylink-transport-team @honeylink-network-experts

# QoS Scheduler
/crates/qos-scheduler/**        @honeylink-qos-team @honeylink-performance-team

# Telemetry & Insights
/crates/telemetry/**            @honeylink-observability-team @honeylink-ops-team

# Physical Adapter Layer
/crates/physical-adapter/**     @honeylink-adapter-team @honeylink-network-experts

# Experience Layer (SDK/UI binding)
/crates/experience/**           @honeylink-sdk-team @honeylink-ui-team

# ========== UI & Frontend ==========
/ui/**                          @honeylink-ui-team @honeylink-ux-team

# React components
/ui/src/components/**           @honeylink-ui-team

# Design system
/ui/src/styles/**               @honeylink-design-team @honeylink-ux-team
/ui/tailwind.config.js          @honeylink-design-team

# Internationalization
/ui/src/locales/**              @honeylink-i18n-team @honeylink-ui-team

# ========== Infrastructure & DevOps ==========
/infrastructure/**              @honeylink-devops-team @honeylink-sre-team
/.github/workflows/**           @honeylink-devops-team
/Cargo.toml                     @honeylink-core-team @honeylink-architects
/rust-toolchain.toml            @honeylink-core-team

# ========== Configuration & Tooling ==========
/.vscode/**                     @honeylink-dev-experience-team
/.editorconfig                  @honeylink-dev-experience-team
/scripts/**                     @honeylink-devops-team

# ESLint & Prettier configs
/ui/eslint.config.js            @honeylink-ui-team
/ui/.prettierrc.json            @honeylink-ui-team
/ui/tsconfig.json               @honeylink-ui-team

# ========== Security & Compliance ==========
/spec/security/**               @honeylink-security-team @honeylink-compliance-team
/spec/security/encryption.md    @honeylink-crypto-experts @honeylink-security-team
/spec/security/key-management.md @honeylink-crypto-experts @honeylink-security-team

# ========== Testing ==========
/spec/testing/**                @honeylink-qa-team @honeylink-test-automation-team

# ========== Deployment ==========
/spec/deployment/**             @honeylink-devops-team @honeylink-sre-team @honeylink-release-managers

# ========== Module-Specific Specs ==========
/spec/modules/session-orchestrator.md     @honeylink-session-team
/spec/modules/policy-profile-engine.md    @honeylink-policy-team
/spec/modules/transport-abstraction.md    @honeylink-transport-team
/spec/modules/crypto-trust-anchor.md      @honeylink-crypto-experts @honeylink-security-team
/spec/modules/qos-scheduler.md            @honeylink-qos-team
/spec/modules/telemetry-insights.md       @honeylink-observability-team
/spec/modules/physical-adapter.md         @honeylink-adapter-team
/spec/modules/experience-layer.md         @honeylink-sdk-team @honeylink-ui-team

# ========== API Specifications ==========
/spec/api/**                    @honeylink-api-team @honeylink-architects

# ========== Notes & Governance ==========
/spec/notes/decision-log.md     @honeylink-architects @honeylink-project-managers
/spec/notes/governance.md       @honeylink-project-managers @honeylink-architects

# ========== Architecture ==========
/spec/architecture/**           @honeylink-architects
/spec/architecture/overview.md  @honeylink-architects @honeylink-cto

# ========== Performance & Benchmarking ==========
/spec/performance/**            @honeylink-performance-team @honeylink-sre-team

# ========== UI/UX Specifications ==========
/spec/ui/**                     @honeylink-ux-team @honeylink-design-team @honeylink-ui-team

Add Prettier configuration
  ui/.prettierrc.json
Owners: @honeylink-ui-team

Add HTML entry point for UI
  ui/index.html
Owners: @honeylink-ui-team, @honeylink-ux-team

Add Vite environment type definitions
  ui/src/vite-env.d.ts
Owners: @honeylink-ui-team, @honeylink-ux-team

Add React application entry point
  ui/src/main.tsx
Owners: @honeylink-ui-team, @honeylink-ux-team

Add global CSS styles
  ui/src/index.css
Owners: @honeylink-ui-team, @honeylink-ux-team

Add main React App component
  ui/src/App.tsx
Owners: @honeylink-ui-team, @honeylink-ux-team

Add CI/CD deployment specification
  spec/deployment/ci-cd.md
Owners: @honeylink-devops-team, @honeylink-sre-team, @honeylink-release-managers

Add infrastructure deployment specification
  spec/deployment/infrastructure.md
Owners: @honeylink-devops-team, @honeylink-sre-team, @honeylink-release-managers

Add rollback deployment specification
  spec/deployment/rollback.md
Owners: @honeylink-devops-team, @honeylink-sre-team, @honeylink-release-managers

Add crypto trust anchor module specification
  spec/modules/crypto-trust-anchor.md
Owners: @honeylink-crypto-experts, @honeylink-security-team

Add experience layer module specification
  spec/modules/experience-layer.md
Owners: @honeylink-sdk-team, @honeylink-ui-team

Add physical adapter module specification
  spec/modules/physical-adapter.md
Owners: @honeylink-adapter-team

Add policy profile engine module specification
  spec/modules/policy-profile-engine.md
Owners: @honeylink-policy-team

Add QoS scheduler module specification
  spec/modules/qos-scheduler.md
Owners: @honeylink-qos-team

Add telemetry insights module specification
  spec/modules/telemetry-insights.md
Owners: @honeylink-observability-team

Add project attendance tracking system
  spec/notes/attendance-system.md
Owners: @honeylink-specs-team, @honeylink-architects

Add critical path analysis documentation
  spec/notes/critical-path-analysis.md
Owners: @honeylink-specs-team, @honeylink-architects

Add architectural decision log
  spec/notes/decision-log.md
Owners: @honeylink-architects, @honeylink-project-managers

Add project governance documentation
  spec/notes/governance.md
Owners: @honeylink-project-managers, @honeylink-architects

Add meeting notes documentation
  spec/notes/meeting-notes.md
Owners: @honeylink-specs-team, @honeylink-architects

Add project phase completion criteria
  spec/notes/phase-criteria.md
Owners: @honeylink-specs-team, @honeylink-architects

Add review completion checklist
  spec/notes/review-completion-checklist.md
Owners: @honeylink-specs-team, @honeylink-architects

Add project schedule dashboard
  spec/notes/schedule-dashboard.md
Owners: @honeylink-specs-team, @honeylink-architects

Add performance benchmark specification
  spec/performance/benchmark.md
Owners: @honeylink-performance-team, @honeylink-sre-team

Add scalability specification
  spec/performance/scalability.md
Owners: @honeylink-performance-team, @honeylink-sre-team

Add authentication specification
  spec/security/auth.md
Owners: @honeylink-security-team, @honeylink-compliance-team

Add encryption specification
  spec/security/encryption.md
Owners: @honeylink-crypto-experts, @honeylink-security-team

Add key management specification
  spec/security/key-management.md
Owners: @honeylink-crypto-experts, @honeylink-security-team

Add vulnerability management specification
  spec/security/vulnerability.md
Owners: @honeylink-security-team, @honeylink-compliance-team

Add document quality definition of done review template
  spec/templates/document-quality-dod-review.md
Owners: @honeylink-specs-team, @honeylink-architects

Add module documentation template
  spec/templates/module-template.md
Owners: @honeylink-specs-team, @honeylink-architects

Add test documentation template
  spec/templates/test-template.md
Owners: @honeylink-specs-team, @honeylink-architects

Add UI documentation template
  spec/templates/ui-template.md
Owners: @honeylink-specs-team, @honeylink-architects

Add end-to-end testing specification
  spec/testing/e2e-tests.md
Owners: @honeylink-qa-team, @honeylink-test-automation-team

Add integration testing specification
  spec/testing/integration-tests.md
Owners: @honeylink-qa-team, @honeylink-test-automation-team

Add testing metrics specification
  spec/testing/metrics.md
Owners: @honeylink-qa-team, @honeylink-test-automation-team

Add unit testing specification
  spec/testing/unit-tests.md
Owners: @honeylink-qa-team, @honeylink-test-automation-team

Add UI accessibility specification
  spec/ui/accessibility.md
Owners: @honeylink-ux-team, @honeylink-design-team, @honeylink-ui-team

Add UI animations specification
  spec/ui/animations.md
Owners: @honeylink-ux-team, @honeylink-design-team, @honeylink-ui-team

Add UI overview specification
  spec/ui/overview.md
Owners: @honeylink-ux-team, @honeylink-design-team, @honeylink-ui-team
