Repository HoneyLink-Project/HoneyLink, changes with the owners that CODEOWNERS names for each.
All owners: @honeylink-architects, @honeylink-docs-team, @honeylink-specs-team, @honeylink-project-managers, @honeylink-core-team, @honeylink-security-team, @honeylink-crypto-experts, @honeylink-session-team, @honeylink-policy-team, @honeylink-qos-team, @honeylink-transport-team, @honeylink-network-experts, @honeylink-performance-team, @honeylink-observability-team, @honeylink-ops-team, @honeylink-adapter-team, @honeylink-sdk-team, @honeylink-ui-team, @honeylink-ux-team, @honeylink-design-team, @honeylink-i18n-team, @honeylink-devops-team, @honeylink-sre-team, @honeylink-dev-experience-team, @honeylink-compliance-team, @honeylink-qa-team, @honeylink-test-automation-team, @honeylink-release-managers, @honeylink-api-team, @honeylink-cto

feat(ui): implement WF-01 device list and WF-02 pairing details (Task 4.3 Part 1)
  docs/TASK_4.3_PART1_COMPLETION_REPORT.md
  ui/src/pages/DeviceListPage.tsx
  ui/src/pages/PairingDetailsPage.tsx
Owners: @honeylink-docs-team, @honeylink-ui-team, @honeylink-ux-team

feat(ui): implement WF-03/04/05 screens, complete all 5 wireframes (Task 4.3 Part 2)
  docs/TASK_4.3_PART2_COMPLETION_REPORT.md
  ui/src/pages/MetricsHubPage.tsx
  ui/src/pages/PolicyBuilderPage.tsx
  ui/src/pages/StreamDashboardPage.tsx
Owners: @honeylink-docs-team, @honeylink-ui-team, @honeylink-ux-team

feat(ui): integrate recharts charts and Control Plane API (Task 4.3 Part 3)
  ui/package-lock.json
  ui/package.json
  ui/src/api/client.ts
  ui/src/api/hooks.ts
  ui/src/pages/MetricsHubPage.tsx
  ui/src/pages/StreamDashboardPage.tsx
  ui/src/router.tsx
Owners: @honeylink-ui-team, @honeylink-ux-team

docs(ui): add Task 4.3 Part 3 completion report
  docs/TASK_4.3_PART3_COMPLETION_REPORT.md
Owners: @honeylink-docs-team

feat(ui): integrate i18n in DeviceListPage (Phase 1 part 1)
  ui/src/App.tsx
  ui/src/api/hooks.ts
  ui/src/i18n.ts
  ui/src/locales/en.json
  ui/src/locales/es.json
  ui/src/locales/ja.json
  ui/src/locales/zh.json
  ui/src/pages/DeviceListPage.tsx
Owners: @honeylink-ui-team, @honeylink-ux-team, @honeylink-i18n-team

feat(ui): add pairing translation keys (Phase 1 preparation)
  ui/src/locales/ja.json
Owners: @honeylink-i18n-team, @honeylink-ui-team

docs(ui): add Phase 1 progress report (14% complete)
  docs/TASK_4.3_PART_5_PHASE_1_PROGRESS.md
Owners: @honeylink-docs-team

feat(ui): integrate i18n in PairingDetailsPage (Phase 1b-1)
  ui/src/locales/en.json
  ui/src/locales/es.json
  ui/src/locales/zh.json
  ui/src/pages/DeviceListPage.tsx
  ui/src/pages/PairingDetailsPage.tsx
Owners: @honeylink-i18n-team, @honeylink-ui-team, @honeylink-ux-team

feat(ui): complete hooks.ts toast internationalization (Phase 1b-2)
  ui/src/api/hooks.ts
Owners: @honeylink-ui-team, @honeylink-ux-team

feat(ui): internationalize StreamDashboardPage (Phase 1b-3, 1/3)
  ui/src/locales/en.json
  ui/src/locales/es.json
  ui/src/locales/ja.json
  ui/src/locales/zh.json
  ui/src/pages/PairingDetailsPage.tsx
  ui/src/pages/StreamDashboardPage.tsx
Owners: @honeylink-i18n-team, @honeylink-ui-team, @honeylink-ux-team

feat(ui): internationalize MetricsHubPage (Phase 1b-3, 2/3)
  ui/src/locales/en.json
  ui/src/locales/es.json
  ui/src/locales/ja.json
  ui/src/locales/zh.json
  ui/src/pages/MetricsHubPage.tsx
Owners: @honeylink-i18n-team, @honeylink-ui-team, @honeylink-ux-team

feat(ui): internationalize PolicyBuilderPage (Phase 1b-3, 3/3)
  ui/src/locales/en.json
  ui/src/locales/es.json
  ui/src/locales/ja.json
  ui/src/locales/zh.json
  ui/src/pages/MetricsHubPage.tsx
  ui/src/pages/PolicyBuilderPage.tsx
  ui/src/pages/StreamDashboardPage.tsx
Owners: @honeylink-i18n-team, @honeylink-ui-team, @honeylink-ux-team

docs(ui): add Phase 1 completion report (Task 4.3 Part 5)
  ui/PHASE_1_COMPLETE_REPORT.md
Owners: @honeylink-ui-team, @honeylink-ux-team

refactor(ui): replace manual validation with react-hook-form + zod (Phase 2)
  ui/TASK_4.3_PART_5_PHASE_1_COMPLETE.md
  ui/package-lock.json
  ui/package.json
  ui/src/pages/PolicyBuilderPage.tsx
  ui/src/router.tsx
Owners: @honeylink-ui-team, @honeylink-ux-team

docs(ui): add Phase 2 completion summary (react-hook-form integration)
  ui/PHASE_2_COMPLETE_SUMMARY.md
Owners: @honeylink-ui-team, @honeylink-ux-team

test(ui): add Vitest test infrastructure (Phase 3, partial)
  ui/src/test/mock-data.ts
  ui/src/test/setup.ts
  ui/src/test/test-utils.tsx
  ui/vitest.config.ts
Owners: @honeylink-ui-team, @honeylink-ux-team

docs(ui): add Phase 3 progress report + test files
  ui/PHASE_3_PROGRESS_REPORT.md
  ui/package-lock.json
  ui/package.json
  ui/src/api/hooks.test.tsx
Owners: @honeylink-ui-team, @honeylink-ux-team

fix(ui): recreate hooks.ts with UTF-8 encoding + fix useStreams test
  ui/src/api/hooks.test.tsx
  ui/src/api/hooks.ts
Owners: @honeylink-ui-team, @honeylink-ux-team

test(ui): complete Phase 3 Vitest unit tests (84 tests, 100% passing)
  docs/SECTION_3_COMPLETION_REPORT.md
  docs/TASK_3.3_COMPLETION_REPORT.md
  docs/TASK_3.4_COMPLETION_REPORT.md
  docs/TASK_3.5_COMPLETION_REPORT.md
  docs/TASK_4.1_COMPLETION_REPORT.md
  docs/TASK_4.2_COMPLETION_REPORT.md
  docs/TASK_4.3_PART1_COMPLETION_REPORT.md
  docs/TASK_4.3_PART2_COMPLETION_REPORT.md
  docs/TASK_4.3_PART3_COMPLETION_REPORT.md
  docs/TASK_4.3_PART_4_COMPLETION_REPORT.md
  docs/TASK_4.3_PART_5_PHASE_1_PROGRESS.md
  ui/src/api/hooks.test.tsx
  ui/src/components/ui/Button.test.tsx
  ui/src/components/ui/Card.test.tsx
  ui/src/components/ui/Input.test.tsx
  ui/src/components/ui/Select.test.tsx
  ui/src/i18n.test.ts
  ui/src/pages/PolicyBuilderPage.test.tsx
  ui/src/pages/PolicyBuilderPage.tsx
  ui/src/router.tsx
  ui/src/test/mock-data.ts
  ui/src/test/test-utils.tsx
  ui/vitest.config.ts
Owners: @honeylink-docs-team, @honeylink-ui-team, @honeylink-ux-team

test(e2e): install Playwright and setup E2E infrastructure
  ui/e2e/infrastructure.test.ts
  ui/package-lock.json
  ui/package.json
  ui/playwright-report/index.html
  ui/playwright.config.ts
  ui/src/components/ui/Button.test.tsx
  ui/src/components/ui/Card.test.tsx
  ui/src/components/ui/Input.test.tsx
  ui/src/components/ui/Select.test.tsx
  ui/src/i18n.test.ts
  ui/src/pages/PolicyBuilderPage.test.tsx
  ui/test-results/.last-run.json
Owners: @honeylink-ui-team, @honeylink-ux-team

test(e2e): create Page Object Models and API mock fixtures
  ui/e2e/fixtures/api-handlers.ts
  ui/e2e/fixtures/mock-data.ts
  ui/e2e/pages/index.ts
  ui/package-lock.json
  ui/package.json
  ui/src/pages/PolicyBuilderPage.test.tsx
Owners: @honeylink-ui-team, @honeylink-ux-team

test(e2e): add language switching E2E test
  ui/e2e/language-switching.test.ts
Owners: @honeylink-ui-team, @honeylink-ux-team

docs(e2e): create comprehensive E2E test status documentation
  ui/e2e/E2E_TEST_STATUS.md
Owners: @honeylink-ui-team, @honeylink-ux-team

docs: create comprehensive Task 4.3 completion report
  TASK_4.3_COMPLETE_REPORT.md
Owners: @honeylink-architects

fix(test): exclude E2E tests from Vitest runner
  ui/vitest.config.ts
Owners: @honeylink-ui-team, @honeylink-ux-team

feat(governance): implement automated attendance reminder system
  .github/ISSUE_TEMPLATE/補完レビュー計画書.md
  .github/workflows/attendance-reminder.yml
  scripts/.env.attendance.example
  scripts/attendance-reminder.ts
  scripts/package-lock.json
  scripts/package.json
  spec/notes/attendance-system.md
  ui/e2e/device-pairing.test.ts
  ui/e2e/device-scan.test.ts
  ui/e2e/language-switching.test.ts
  ui/e2e/metrics-monitoring.test.ts
  ui/e2e/policy-creation.test.ts
  ui/e2e/stream-priority.test.ts
Owners: @honeylink-architects, @honeylink-devops-team, @honeylink-specs-team, @honeylink-ui-team, @honeylink-ux-team

feat(session-orchestrator): integrate telemetry for SLI monitoring
  crates/session-orchestrator/Cargo.toml
  crates/session-orchestrator/src/lib.rs
  crates/session-orchestrator/src/telemetry.rs
Owners: @honeylink-session-team, @honeylink-architects

feat(policy-engine): integrate telemetry for SLI monitoring
  crates/policy-engine/Cargo.toml
  crates/policy-engine/src/lib.rs
  crates/policy-engine/src/telemetry.rs
Owners: @honeylink-policy-team, @honeylink-qos-team

build: configure GNU toolchain for Windows (avoid MSVC linker)
  .cargo/config.toml
  rust-toolchain.toml
  scripts/attendance-reminder.ts
  spec/notes/attendance-system.md
Owners: @honeylink-architects, @honeylink-core-team, @honeylink-devops-team, @honeylink-specs-team

fix(crypto,transport): resolve WSL compilation errors
  Cargo.toml
  crates/crypto/Cargo.toml
  crates/crypto/src/aead.rs
  crates/crypto/src/key_agreement.rs
  crates/crypto/src/pop_token.rs
  crates/transport/src/fec.rs
  crates/transport/src/retry.rs
  crates/transport/src/wfq.rs
Owners: @honeylink-core-team, @honeylink-architects, @honeylink-security-team, @honeylink-crypto-experts, @honeylink-transport-team, @honeylink-network-experts

fix(telemetry): resolve OpenTelemetry 0.26 compatibility issues
  Cargo.toml
  backend/Cargo.toml
  backend/src/main.rs
  crates/crypto/src/key_agreement.rs
  crates/policy-engine/src/telemetry.rs
  crates/session-orchestrator/src/telemetry.rs
  crates/telemetry/Cargo.toml
  crates/telemetry/src/alert.rs
  crates/telemetry/src/collector.rs
  crates/telemetry/src/crypto_metrics.rs
  crates/telemetry/src/otel.rs
  crates/telemetry/src/storage.rs
  crates/telemetry/src/transport_events.rs
  crates/transport/src/lib.rs
Owners: @honeylink-core-team, @honeylink-architects, @honeylink-security-team, @honeylink-crypto-experts, @honeylink-policy-team, @honeylink-qos-team, @honeylink-session-team, @honeylink-observability-team, @honeylink-ops-team, @honeylink-transport-team, @honeylink-network-experts

docs(todo): update telemetry integration task status
  TODO.md
Owners: @honeylink-project-managers

feat(telemetry): integrate transport layer telemetry
  crates/telemetry/Cargo.toml
  crates/telemetry/src/lib.rs
  crates/telemetry/src/transport_telemetry_impl.rs
  crates/transport/src/lib.rs
  crates/transport/src/telemetry.rs
Owners: @honeylink-observability-team, @honeylink-ops-team, @honeylink-transport-team, @honeylink-network-experts

docs(todo): mark transport telemetry integration as completed
  TODO.md
Owners: @honeylink-project-managers

feat(telemetry): integrate crypto module instrumentation
  crates/crypto/src/lib.rs
  crates/crypto/src/telemetry.rs
  crates/telemetry/Cargo.toml
  crates/telemetry/src/crypto_telemetry_impl.rs
  crates/telemetry/src/lib.rs
Owners: @honeylink-security-team, @honeylink-crypto-experts, @honeylink-observability-team, @honeylink-ops-team

docs(todo): mark crypto instrumentation as completed
  TODO.md
Owners: @honeylink-project-managers

fix(backend): add Serialize/Debug derives for policy structs
  backend/Cargo.toml
  backend/src/middleware/auth.rs
  backend/src/routes/policies.rs
Owners: @honeylink-architects

docs(todo): note backend sqlx blocker and partial fix
  TODO.md
Owners: @honeylink-project-managers

feat(infra): setup OTLP Collector observability stack
  infrastructure/README.md
  infrastructure/docker-compose.observability.yml
  infrastructure/generate-certs.ps1
  infrastructure/generate-certs.sh
  infrastructure/grafana/provisioning/dashboards/dashboards.yml
  infrastructure/grafana/provisioning/datasources/datasources.yml
  infrastructure/loki-config.yaml
  infrastructure/otel-collector-config.yaml
  infrastructure/prometheus.yml
Owners: @honeylink-devops-team, @honeylink-sre-team

docs(todo): mark OTLP Collector setup as completed
  TODO.md
Owners: @honeylink-project-managers

CODEOWNERS:

# HoneyLinkâ„¢ Code Owners
# 
# This file defines ownership and review responsibilities for different parts of the codebase.
# Each module has designated owners who are automatically requested for review on PRs.
#
# Format: <file-pattern> @username1 @username2
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# ========== Global Owners ==========
# These owners are the default for everything in the repository
* @honeylink-architects

# ========== Documentation ==========
/docs/**                        @honeylink-docs-team
/spec/**                        @honeylink-specs-team @honeylink-architects
/README.md                      @honeylink-docs-team
/CONTRIBUTING.md                @honeylink-docs-team
/TODO.md                        @honeylink-project-managers

# ========== Rust Core Modules ==========

# Core types and traits (critical - requires 2 approvals)
/crates/core/**                 @honeylink-core-team @honeylink-architects

# Crypto & Trust Anchor (critical - requires 2 approvals)
/crates/crypto/**               @honeylink-security-team @honeylink-crypto-experts

# Session Orchestrator
/crates/session-orchestrator/** @honeylink-session-team @honeylink-architects

# Policy & Profile Engine
/crates/policy-engine/**        @honeylink-policy-team @honeylink-qos-team

# Transport Abstraction
/crates/transport/**            @honeylink-transport-team @honeylink-network-experts

# QoS Scheduler
/crates/qos-scheduler/**        @honeylink-qos-team @honeylink-performance-team

# Telemetry & Insights
/crates/telemetry/**            @honeylink-observability-team @honeylink-ops-team

# Physical Adapter Layer
/crates/physical-adapter/**     @honeylink-adapter-team @honeylink-network-experts

# Experience Layer (SDK/UI binding)
/crates/experience/**           @honeylink-sdk-team @honeylink-ui-team

# ========== UI & Frontend ==========
/ui/**                          @honeylink-ui-team @honeylink-ux-team

# React components
/ui/src/components/**           @honeylink-ui-team

# Design system
/ui/src/styles/**               @honeylink-design-team @honeylink-ux-team
/ui/tailwind.config.js          @honeylink-design-team

# Internationalization
/ui/src/locales/**              @honeylink-i18n-team @honeylink-ui-team

# ========== Infrastructure & DevOps ==========
/infrastructure/**              @honeylink-devops-team @honeylink-sre-team
/.github/workflows/**           @honeylink-devops-team
/Cargo.toml                     @honeylink-core-team @honeylink-architects
/rust-toolchain.toml            @honeylink-core-team

# ========== Configuration & Tooling ==========
/.vscode/**                     @honeylink-dev-experience-team
/.editorconfig                  @honeylink-dev-experience-team
/scripts/**                     @honeylink-devops-team

# ESLint & Prettier configs
/ui/eslint.config.js            @honeylink-ui-team
/ui/.prettierrc.json            @honeylink-ui-team
/ui/tsconfig.json               @honeylink-ui-team

# ========== Security & Compliance ==========
/spec/security/**               @honeylink-security-team @honeylink-compliance-team
/spec/security/encryption.md    @honeylink-crypto-experts @honeylink-security-team
/spec/security/key-management.md @honeylink-crypto-experts @honeylink-security-team

# ========== Testing ==========
/spec/testing/**                @honeylink-qa-team @honeylink-test-automation-team

# ========== Deployment ==========
/spec/deployment/**             @honeylink-devops-team @honeylink-sre-team @honeylink-release-managers

# ========== Module-Specific Specs ==========
/spec/modules/session-orchestrator.md     @honeylink-session-team
/spec/modules/policy-profile-engine.md    @honeylink-policy-team
/spec/modules/transport-abstraction.md    @honeylink-transport-team
/spec/modules/crypto-trust-anchor.md      @honeylink-crypto-experts @honeylink-security-team
/spec/modules/qos-scheduler.md            @honeylink-qos-team
/spec/modules/telemetry-insights.md       @honeylink-observability-team
/spec/modules/physical-adapter.md         @honeylink-adapter-team
/spec/modules/experience-layer.md         @honeylink-sdk-team @honeylink-ui-team

# ========== API Specifications ==========
/spec/api/**                    @honeylink-api-team @honeylink-architects

# ========== Notes & Governance ==========
/spec/notes/decision-log.md     @honeylink-architects @honeylink-project-managers
/spec/notes/governance.md       @honeylink-project-managers @honeylink-architects

# ========== Architecture ==========
/spec/architecture/**           @honeylink-architects
/spec/architecture/overview.md  @honeylink-architects @honeylink-cto

# ========== Performance & Benchmarking ==========
/spec/performance/**            @honeylink-performance-team @honeylink-sre-team

# ========== UI/UX Specifications ==========
/spec/ui/**                     @honeylink-ux-team @honeylink-design-team @honeylink-ui-team
